<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <div class="navbar">
      <a class="button home" href="/">回到首頁</a>
      <div class="navbarItem">
        <a href="about" class="button about active ">About</a>
        <a href="portfolio" class="button portfolio ">Portfolio</a>
        <a href="contact" class="button contact">Contact</a>
      </div>
    </div>

    {{{body}}}

  </div>
</body>

</html>